
<div class="container relative">
  <div>
    <h1>Prescription <%= @prescription.id %></h1>
        <p class="container-doctor">Doctor <%= @prescription.professional.last_name%></p>
  </div>
  <div>
      <div class="qrcode">
      <%= image_tag "qrcode.jpeg" %>
      </div>
  </div>
  <div>
    <p class="container-date"><%= @prescription.created_at.strftime('%a %d %b %Y') %></p>
    <div class="content">
      <p>Please deliver to <%= @prescription.patient.first_name%> <%=@prescription.patient.last_name %> </p>
      <% @prescription.meds_prescriptions.each do |med_prescription| %>
        <%= med_prescription.med.name %>
        <%= med_prescription.dosage %>
      <% end %>
    </div>
  </div>
</div>
