<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="search">
  <div class="container-fluid d-flex justify-content-between" data-search-target="navbar">
    <%= link_to "/", class: "navbar-brand" do %>
      <div class="d-flex align-items-center">
        <div class="brand-icon">
          <i class="fa-regular fa-file-powerpoint"></i>
        </div>
        <div>
          <h5 class="prescriptool-brand">Prescriptool</h5>
          <p class="grey-text brand-subtitle">Generates unique prescriptions</p>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
    <div data-action="click->search#expand"><a class="my-2 my-sm-0"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <% end %>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "user_pic.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# greeting %>
              <span class="dropdown-item">Hello,
                <% if current_user.pro? %>
                  <strong>Dr. <%= current_user.last_name %> 💊</strong>
                <% else %>
                  <strong><%= current_user.first_name %> 👑</strong>
                <% end %>
              </span>
              <div class="dropdown-divider"></div>
              <%= link_to "Archived prescriptions", archived_prescriptions_path , class: "dropdown-item" %>
              <% if @current_user.pro? %>
                <%= link_to "Create a new prescription", new_prescription_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Notifications", notifications_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%# We display this if the user clicks on the search icon %>
  <form class="form-inline d-flex" action="<%= prescriptions_path %>">
    <div class="container-fluid d-flex justify-content-between d-none" data-search-target="searchnavbar">
      <a class="my-2 my-sm-0" data-action="click->search#expand">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <div class="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Doctor or medication" aria-label="Search" name="query">
      </div>
    </div>
  </form>
</div>
